.main-menu--level-0,
ul.main-menu--level-0 {
  margin: 0;
  padding: 0;
  height: 0;
  clear: both;
  overflow: hidden;
}

.burger-toggler--state:checked ~ .main-menu--level-0 {
  height: 100vh;
  height: calc(100vh - 2.8125em);
  overflow-y: auto;
}

@media (min-width: 68.5em) {
  .main-menu--level-0,
  ul.main-menu--level-0,
  .burger-toggler--state:checked ~ .main-menu--level-0 {
    height: auto;
    overflow: visible;
  }
}

.burger-toggler__button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 1.25em 1.25em 1.25em 3em;
  -webkit-transform: translate(0, -100%) translate(0, -0.75em);
  transform: translate(0, -100%) translate(0, -0.75em);
  background: #eee;
  cursor: pointer;
}

@media (min-width: 48em) {
  .burger-toggler__button {
    position: relative;
    top: auto;
    right: auto;
    float: left;
    -webkit-transform: none;
    transform: none;
    -webkit-transform: translate(0, 0.75em);
    transform: translate(0, 0.75em);
  }
}

@media (min-width: 68.5em) {
  .burger-toggler__button,
  .burger-toggler__state {
    display: none;
  }
}


@media (min-width: 68.5em) {
  .burger-toggler__button,
  .burger-toggler__state {
    display: none;
  }
}

.burger-toggler__button-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 0.875em;
  -webkit-transform: translate(0, -0.125em) scale(0.6);
          transform: translate(0, -0.125em) scale(0.6);
}
.burger-toggler__button-icon:before, .burger-toggler__button-icon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  width: 2.5em;
}
.burger-toggler__button-icon:before {
  height: 0;
  border-top: 0.25em solid #000;
  background: #000;
  -webkit-transform: translate(0, -0.75em);
          transform: translate(0, -0.75em);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.burger-toggler--state:checked ~ .burger-toggler__button .burger-toggler__button-icon:before {
  -webkit-transform: translate(0, -0.75em) rotate(45deg);
          transform: translate(0, -0.75em) rotate(45deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.burger-toggler__button-icon:after {
  height: 1em;
  border: 0.25em solid #000;
  border-width: 0.25em 0 0.25em 0;
  -webkit-transition: border 0.2s, -webkit-transform 0.2s;
  transition: border 0.2s, -webkit-transform 0.2s;
  transition: border 0.2s, transform 0.2s;
  transition: border 0.2s, transform 0.2s, -webkit-transform 0.2s;
}
.burger-toggler--state:checked ~ .burger-toggler__button .burger-toggler__button-icon:after {
  -webkit-transform: translate(0.375em, 0) rotate(-45deg);
          transform: translate(0.375em, 0) rotate(-45deg);
  border-top-color: transparent;
  -webkit-transform-origin: left 1.5em;
          transform-origin: left 1.5em;
}

.main-menu--level-0 a,
.main-menu--level-0 a:hover,
.main-menu--level-0 a:focus,
.main-menu--level-0 a:active {
  padding: 0.8125em 2.25em 0.8125em 1.25em;
  color: #555555;
  text-decoration: none;
}
.main-menu--level-0 a.current {
  color: #d23600;
}
.main-menu--level-0 a.disabled {
  color: #bbbbbb;
}

.sm .sub-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 2.25em;
  height: 2.8125em;
  padding-top: 0.8125em;
  text-align: center;
  font-weight: bold;
}

.main-menu--level-0 > li:first-child > a,
.main-menu--level-0 > li:first-child > :not(ul) a {
  -webkit-border-radius: 0.3125em 0.3125em 0 0;
  -moz-border-radius: 0.3125em 0.3125em 0 0;
  -ms-border-radius: 0.3125em 0.3125em 0 0;
  -o-border-radius: 0.3125em 0.3125em 0 0;
  border-radius: 0.3125em 0.3125em 0 0;
}

.main-menu--level-0 > li:last-child > a,
.main-menu--level-0 > li:last-child > *:not(ul) a,
.main-menu--level-0 > li:last-child > ul,
.main-menu--level-0 > li:last-child > ul > li:last-child > a,
.main-menu--level-0 > li:last-child > ul > li:last-child > *:not(ul) a,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > a,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
  -webkit-border-radius: 0 0 0.3125em 0.3125em;
  -moz-border-radius: 0 0 0.3125em 0.3125em;
  -ms-border-radius: 0 0 0.3125em 0.3125em;
  -o-border-radius: 0 0 0.3125em 0.3125em;
  border-radius: 0 0 0.3125em 0.3125em;
}

.main-menu--level-0 > li:last-child > a.highlighted,
.main-menu--level-0 > li:last-child > *:not(ul) a.highlighted,
.main-menu--level-0 > li:last-child > ul > li:last-child > a.highlighted,
.main-menu--level-0 > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted,
.main-menu--level-0 > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.main-menu--level-0 li {
  border-top: 0.0625em solid rgba(0, 0, 0, 0.05);
}
.main-menu--level-0 > li:first-child {
  border-top: 0;
}
.main-menu--level-0 ul {
  margin: 0;
  background: rgba(162, 162, 162, 0.1);
}

.main-menu--level-0 ul a {
  display: block;
}

.main-menu--level-0 ul a,
.main-menu--level-0 ul a:hover,
.main-menu--level-0 ul a:focus,
.main-menu--level-0 ul a:active {
  border-left: 0.5em solid transparent;
}
.main-menu--level-0 ul ul a,
.main-menu--level-0 ul ul a:hover,
.main-menu--level-0 ul ul a:focus,
.main-menu--level-0 ul ul a:active {
  border-left: 1em solid transparent;
}
.main-menu--level-0 ul ul ul a,
.main-menu--level-0 ul ul ul a:hover,
.main-menu--level-0 ul ul ul a:focus,
.main-menu--level-0 ul ul ul a:active {
  border-left: 1.5em solid transparent;
}
.main-menu--level-0 ul ul ul ul a,
.main-menu--level-0 ul ul ul ul a:hover,
.main-menu--level-0 ul ul ul ul a:focus,
.main-menu--level-0 ul ul ul ul a:active {
  border-left: 2em solid transparent;
}
.main-menu--level-0 ul ul ul ul ul a,
.main-menu--level-0 ul ul ul ul ul a:hover,
.main-menu--level-0 ul ul ul ul ul a:focus,
.main-menu--level-0 ul ul ul ul ul a:active {
  border-left: 2.5em solid transparent;
}

@media (min-width: 68.5em) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .main-menu--level-0 ul {
    position: absolute;
    width: 12em;
  }

  .main-menu--level-0 li {
    float: left;
  }

  .main-menu--level-0.sm-rtl li {
    float: right;
  }

  .main-menu--level-0 ul li, .main-menu--level-0.sm-rtl ul li,
  .main-menu--level-0.sm-vertical li {
    float: none;
  }

  .main-menu--level-0 a {
    white-space: nowrap;
    /* make room for the toggle button (sub indicator) */
    padding-right: 3.625em;
  }

  .main-menu--level-0 ul a,
  .main-menu--level-0.sm-vertical a {
    white-space: normal;
  }

  .main-menu--level-0 .sm-nowrap > li > a,
  .main-menu--level-0 .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */
  .main-menu--level-0 {
    padding: 0 0.625em;
  }
  .main-menu--level-0 a, .main-menu--level-0 a:hover, .main-menu--level-0 a:focus, .main-menu--level-0 a:active,
  .main-menu--level-0 a.highlighted {
    padding: 0.75em 0.75em;
    color: #555555;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  .main-menu--level-0 a:hover, .main-menu--level-0 a:focus, .main-menu--level-0 a:active,
  .main-menu--level-0 a.highlighted {
    color: #d23600;
  }
  .main-menu--level-0 a.current {
    color: #d23600;
  }
  .main-menu--level-0 a.disabled {
    color: #bbbbbb;
  }
  .main-menu--level-0 a.has-submenu {
    padding-right: 1.5em;
  }
  .main-menu--level-0 > li {
    border-top: 0;
  }

  .main-menu--level-0 > li > a {
    border-top: 0;
    background: #eeeeee;
  }

  .main-menu--level-0 > li:first-child > a {
    border-radius: 1.34375em 0 0 1.34375em;
    padding-left: 1.25em;
  }

  .main-menu--level-0 > li:nth-last-child(2) {
    background: #fff;
  }

  .main-menu--level-0 > li:nth-last-child(2) > a {
    padding-right: 1.25em;
    border-radius: 0 1.34375em 1.34375em 0;
  }

  .main-menu--level-0 > li:last-child {
    background: #fff;
  }

  .main-menu--level-0 > li:last-child > a {
    margin: 0 0 0 0.5em;
    padding-right: 1.25em;
    padding-left: 1.0625em;
    border-radius: 1.34375em;
    color: #fff;
    background: #de1e1e;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .main-menu--level-0 > li > ul:before,
  .main-menu--level-0 > li > ul:after {
    content: '';
    position: absolute;
    top: -1.125em;
    left: 1.875em;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 0.5625em;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #bbbbbb transparent;
  }
  .main-menu--level-0 > li > ul:after {
    top: -1em;
    left: 1.9375em;
    border-width: 0.5em;
    border-color: transparent transparent white transparent;
  }
  .main-menu--level-0 ul {
    border: 0.0625em solid #bbbbbb;
    padding: 0.3125em 0;
    background: white;
    -webkit-border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    -ms-border-radius: 0.3125em;
    -o-border-radius: 0.3125em;
    border-radius: 0.3125em;
    -webkit-box-shadow: 0 0.3125em 0.5625em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.3125em 0.5625em rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.3125em 0.5625em rgba(0, 0, 0, 0.2);
  }

/*  .main-menu--level-0 ul ul {
    right: 12em;
    top
  }
*/
  .main-menu--level-0 ul a,
  .main-menu--level-0 ul a:hover,
  .main-menu--level-0 ul a:focus,
  .main-menu--level-0 ul a:active,
  .main-menu--level-0 ul a.highlighted {
    border: 0;
    padding: 0.625em 1.25em;
    color: #555555;
  }
  .main-menu--level-0 ul a:hover, .main-menu--level-0 ul a:focus,
  .main-menu--level-0 ul a:active,
  .main-menu--level-0 ul a.highlighted {
    background: #eeeeee;
    color: #d23600;
  }
  .main-menu--level-0 ul a.current {
    color: #d23600;
  }
  .main-menu--level-0 ul a.disabled {
    background: white;
    color: #cccccc;
  }
  .main-menu--level-0 ul a.has-submenu {
    padding-right: 1.25em;
  }
  .main-menu--level-0 span.scroll-up,
  .main-menu--level-0 span.scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: white;
    height: 1.25em;
  }
  .main-menu--level-0 span.scroll-up:hover,
  .main-menu--level-0 span.scroll-down:hover {
    background: #eeeeee;
  }
  .main-menu--level-0 span.scroll-up:hover span.scroll-up-arrow,
  .main-menu--level-0 span.scroll-up:hover span.scroll-down-arrow {
    border-color: transparent transparent #d23600 transparent;
  }
  .main-menu--level-0 span.scroll-down:hover span.scroll-down-arrow {
    border-color: #d23600 transparent transparent transparent;
  }
  .main-menu--level-0 span.scroll-up-arrow,
  .main-menu--level-0 span.scroll-down-arrow {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -0.375em;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 0.375em;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #555555 transparent;
  }
  .main-menu--level-0 span.scroll-down-arrow {
    top: 0.5em;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
  }
  .main-menu--level-0.sm-rtl a.has-submenu {
    padding-right: 0.75em;
    padding-left: 1.5em;
  }
  .main-menu--level-0.sm-rtl.sm-vertical a.has-submenu {
    padding: 0.625em 1.25em;
  }
  .main-menu--level-0.sm-rtl > li > ul:before {
    left: auto;
    right: 1.875em;
  }
  .main-menu--level-0.sm-rtl > li > ul:after {
    left: auto;
    right: 1.9375em;
  }
  .main-menu--level-0.sm-rtl ul a.has-submenu {
    padding: 0.625em 1.25em;
  }
  .main-menu--level-0.sm-vertical {
    padding: 0.625em 0;
    -webkit-border-radius: 0.3125em;
    -moz-border-radius: 0.3125em;
    -ms-border-radius: 0.3125em;
    -o-border-radius: 0.3125em;
    border-radius: 0.3125em;
  }
  .main-menu--level-0.sm-vertical a {
    padding: 0.625em 1.25em;
  }
  .main-menu--level-0.sm-vertical a:hover, .main-menu--level-0.sm-vertical a:focus, .main-menu--level-0.sm-vertical a:active,
  .main-menu--level-0.sm-vertical a.highlighted {
    background: white;
  }
  .main-menu--level-0.sm-vertical a.disabled {
    background: #eeeeee;
  }
  .main-menu--level-0.sm-vertical > li > ul:before,
  .main-menu--level-0.sm-vertical > li > ul:after {
    display: none;
  }
  .main-menu--level-0.sm-vertical ul a {
    padding: 0.625em 1.25em;
  }
  .main-menu--level-0.sm-vertical ul a:hover, .main-menu--level-0.sm-vertical ul a:focus, .main-menu--level-0.sm-vertical ul a:active,
  .main-menu--level-0.sm-vertical ul a.highlighted {
    background: #eeeeee;
  }
  .main-menu--level-0.sm-vertical ul a.disabled {
    background: white;
  }
}
