html {
  font-family: 'Droid Sans';
}

.node--view-mode-homepage-quote .field--name-body {
  font-family: 'Droid Serif';
  color: white;
  font-size: 150%;
}

.node--view-mode-homepage-quote .field--name-field-quote-person-quoted,
.node--view-mode-homepage-quote .field--name-field-quote-title,
.node--view-mode-homepage-quote .field--name-field-quote-organization {
  font-style: italic;
  color: white;
}

.node--view-mode-homepage-quote .node__content {
  padding: 0px 20px 20px 20px;
  vertical-align: middle;
}

.views-field-field-homepage-image-quote {
  width: 400px;
  position: absolute;
  background: rgba(204, 204, 204, .7);
  bottom: 35px;
  right: 35px;
}

.view-homepage-image .views-row {
  position: relative;
}


.layout-container {
  display: flex;
  flex-flow: row wrap;
}

.header,
.footer,
.content-hero,
.content-sidebar,
.content-bottom {
  flex: 1 100%;
}

.header {
  order: 1;
  flex-basis: 100%;
}

.content-hero {
  order: 2;
  flex-basis: 100%;
}

.content-main-container {
  order: 3;
}

.content-main {
  order: 3;
  flex-basis: 60%;
  padding: 20px 100px 20px 100px;
  font-size: 120%;
  line-height: 28px;
  font-family: droid-serif;
}

.content-sidebar {
  order: 3;
  flex-basis: 25%;
  margin-top: 10px;
  margin-right: 30px;
}

.content-sidebar .block {
  background-color: #f0f3f2;
  padding: 0px 30px 30px 30px;
  margin-top: 30px;
  text-align: center;
  font-size: 80%;
}

.content-sidebar .block h2 {
  background-color: #4e8bb2;
  padding-top: 10px;
  padding-bottom: 10px;
}


.content-bottom {
  order: 4;
  flex-basis: 100%;
}

.grid-row {
  display: flex;
  flex-basis: 100%;
}

.featured {
  order: 5;
}

.secondary {
  order: 6;
}

.region-featured-third,
.region-featured-second,
.region-featured-first {
  order: 5;
  flex-basis:33%;
  border: 1px solid #000000;
  padding: 0px 30px 30px 30px;
  text-align: center;
}

.region-secondary-first,
.region-secondary-second {
 order: 6;
 flex-basis: 50%;
 border: 1px solid #000000;
 padding: 0px 30px 30px 30px;
 text-align: center;
}

.footer {
  order: 7;
  flex-basis: 100%;
}

.primary-menu ul.menu {
  margin-left: 150px;
  margin-top: 62px;
}

.menu li {
  float: left;
  margin-right: 20px;
}

h2 {
  font-family: Arvo;
  font-weight: bold;
  text-transform: uppercase;
}

.primary-menu {
  height: 100px;
  background: no-repeat url(/themes/custom/pinballoutreach/images/Logo-Index1.png);
  background-position: left center;
}

.field--name-field-news-photos {
  display: flex;
  flex-flow: wrap;
}

.field--name-field-news-photos .field__item {
  margin-right: 15px;
  margin-botton: 20px;
}

.field--name-field-product-related-links {
  margin-top: 30px;
}

.field__label {
  font-family: Droid Sans;
}